<template>
    <a-table :columns="columns" :dataSource="data" :rowKey="record => record.id" :pagination="{ pageSize: 10 }">
      <span slot="action1" slot-scope="text, record">
        <router-link v-if="$root.$data.permissions['users.view']" exact-active-class="active" :to="{ name: 'user.form',params:{type:'update', id:record.id}}" :style="'color:rgba(0, 0, 0, 0.65)'">
          <a-button type="primary">Editar</a-button>  
        </router-link>
      </span>
      <span slot="action" slot-scope="text, record">
         {{record.role.name}}
      </span>
    </a-table>
</template>
<script>
export default {
  data() {
    return {
      data: [],
      columns: [
        { title: "Nombre", dataIndex: "name", key: "name" },
        { title: "Email", dataIndex: "email", key: "email" },
        {
          title: "Rol",
          key: "role",
          scopedSlots: { customRender: "action" }
        },
        {
          title: "",
          key: "action1",
          align: "right",
          scopedSlots: { customRender: "action1" }
        }
      ]
    };
  },
  methods: {
    getListModel() {
      let me = this;
      axios
        .get("/admin/user")
        .then(function(response) {
          me.data = response.data;
        })
        .catch(function(error) {});
    }
  },
  mounted() {
    this.getListModel();
  }
};
</script>
