<template>
    <div class="container-fluid">
          <div class="card mt-5">
              <div class="card-header">
                  <span style="font-size: 20px;">Impuesto</span>
                    <router-link exact-active-class="active" :to="{ name: 'taxs'}" :class="['btn btn-outline-primary pull-right mt-1']">
                        Atras
                    </router-link> 
              </div>
               <div class="card-body">
          
        
        
                   <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Tipo</label>
                      <div class="col-md-9">
                          
                          <select class="form-control" v-model="tax.type">
                            <option value="">Seleccionar</option>
                            <option value="IVA">IVA</option>
                          </select>
                          <span v-if="allerrors.type" :class="['text-danger']">{{ allerrors.type[0] }}</span>
                          
                      </div>
                  </div>
                   <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Valor</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="tax.value" class="form-control" placeholder="">
                          <span v-if="allerrors.value" :class="['text-danger']">{{ allerrors.value[0] }}</span>
                          
                      </div>
                  </div>
 
                
         </div>
                  
          
                  <div class="modal-footer">
                      <button v-if="!tax.id" type="button" :disabled="disableButton" @click="create" class="btn btn-primary">Guardar</button>
                      <button v-if="tax.id" type="button" :disabled="disableButton" @click="update" class="btn btn-primary">Actualizar</button>
                  </div>
              </div>
          </div>
  
</template>
<script>
export default {
  name: "app-form",

  data() {
    return {
      disableButton: true,
      allerrors: [],
      tax: {
        id: null,
        name: null,
        type: ""
      },
      portales: []
    };
  },
  methods: {
    deleteSection(key) {
      this.tax.sections.splice(key, 1);
    },
    create() {
      let me = this;
      axios
        .post("/admin/tax", this.tax)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha creado  el nuevo campo.");
          me.$router.push({ name: "taxes" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    },
    update() {
      let me = this;
      axios
        .put("/admin/tax/" + this.tax.id, this.tax)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha actualizado  el campo.");
          me.$router.push({ name: "taxes" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    }
  },
  created() {
    let _this = this;
    if (typeof this.$route.params.id !== "undefined") {
      axios.get("/admin/tax/" + this.$route.params.id).then(res => {
        console.log(res);
        _this.tax = res.data;
        _this.disableButton = false;
      });
    } else {
      this.disableButton = false;
    }
  }
};
</script>
<style lang="scss" scoped>
.list-group-item {
  border-color: blue;
  .list-group-item {
    border-color: green !important;
    .list-group-item {
      border-color: black !important;
    }
  }
}
</style>

