<template>
    <div class="container-fluid">
          <div class="card mt-5">
              <div class="card-header">
                  <span style="font-size: 20px;">Campos</span>
                    <router-link exact-active-class="active" :to="{ name: 'fields'}" :class="['btn btn-outline-primary pull-right mt-1']">
                        Atras
                    </router-link> 
              </div>
               <div class="card-body">
                  
                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Fecha / hora  (Rango)</label>
                      <div class="col-md-9">
                        <a-range-picker
                            :showTime="{ format: 'HH:mm' }"
                            :format="dateFormat"
                            :placeholder="['Fecha Inicio', 'Fecha Fin']"
                            @change="okRangeDate"
                            @ok="okRangeDate"
                          
                            :value="portal.rangeDate2"
                          />
             
                                  
                         
                        
                          <span v-if="allerrors.rangeDate" :class="['text-danger']">{{ allerrors.rangeDate[0] }}</span>
                      </div>
                  </div>  

                   <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Tipo Descuento</label>
                      <div class="col-md-9">
                        <select class="form-control" v-model="portal.type_discount">
                          <option value="">Seleccionar</option>
                          <option value="VALOR">Valor</option>
                          <option value="PORCENTAJE">Porcentaje</option>
                        </select>
                          
                          <span v-if="allerrors.type_discount" :class="['text-danger']">{{ allerrors.type_discount[0] }}</span>
                      </div>
                  </div>

                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Valor Descuento</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="portal.value_discount" class="form-control" placeholder="">
                          <span v-if="allerrors.value_discount" :class="['text-danger']">{{ allerrors.value_discount[0] }}</span>
                      </div>
                  </div> 
                
              </div>
                  
               
                  <div class="modal-footer">
                      
                      <button  type="button" :disabled="disableButton" @click="update" class="btn btn-primary">Actualizar</button>
                  </div>
              </div>
          </div>
  
</template>
<script>
import moment from "moment";

export default {
  name: "app-dicount",

  data() {
    return {
      disableButton: true,
      dateFormat: "YYYY-MM-DD HH:mm",
      monthFormat: "YYYY/MM",
      allerrors: [],
      portal: {
        id: null,
        name: null,
        type_discount: "",
        start_date_discount: null,
        rangeDate: [],
        rangeDate2: []
      }
    };
  },

  methods: {
    okRangeDate(value, dateString) {
      console.log(333333333);
      console.log(value.length);
      if (value.length > 0) {
        Object.assign(this.portal.rangeDate2, [
          moment(value[0]),
          moment(value[1])
        ]);
        Object.assign(this.portal.rangeDate, [
          moment(value[0]).format(this.dateFormat),
          moment(value[1]).format(this.dateFormat)
        ]);
      } else {
        this.portal.rangeDate = [];
        this.portal.rangeDate2 = [];
      }
    },
    moment,
    update() {
      let _this = this;
      axios
        .put("/admin/portal/discount", this.portal)
        .then(function(response) {
          _this.portal = response.data;
          _this.allerrors = [];
          _this.$message.success(
            "Se ha actualizado los descuentos en el portal."
          );
          if (_this.portal.start_date_discount != null) {
            _this.portal.rangeDate = [
              moment(_this.portal.start_date_discount),
              moment(_this.portal.end_date_discount)
            ];
            _this.portal.rangeDate2 = [
              moment(_this.portal.start_date_discount),
              moment(_this.portal.end_date_discount)
            ];
          }
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            _this.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            _this.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    }
  },
  mounted() {
    let _this = this;

    axios.get("/admin/portal/user").then(res => {
      _this.portal = res.data;
      _this.portal.rangeDate = [];
      _this.portal.rangeDate2 = [];
      if (_this.portal.start_date_discount != null) {
        _this.portal.rangeDate = [
          moment(_this.portal.start_date_discount),
          moment(_this.portal.end_date_discount)
        ];
        _this.portal.rangeDate2 = [
          moment(_this.portal.start_date_discount),
          moment(_this.portal.end_date_discount)
        ];
      }

      _this.disableButton = false;
    });
  }
};
</script>
<style lang="scss" scoped>
.list-group-item {
  border-color: blue;
  .list-group-item {
    border-color: green !important;
    .list-group-item {
      border-color: black !important;
    }
  }
}
</style>

