<template>
    <div class="container-fluid">
          <div class="card mt-5">
              <div class="card-header">
                  <span style="font-size: 20px;">Productos</span>
                    <router-link exact-active-class="active" :to="{ name: 'products'}" :class="['btn btn-outline-primary pull-right mt-1']">
                        Atras
                    </router-link> 
              </div>
               <div class="card-body">
                
        
                    <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                      <div class="col-md-9">
                          <input type="text" :disabled="product.created_manual == 0"  v-model="product.name" class="form-control" placeholder="">
                          <span v-if="allerrors.name" :class="['text-danger']">{{ allerrors.name[0] }}</span>
                          
                      </div>
                  </div>
 
                <div class="form-group row" >
                  <label class="col-md-3 form-control-label" for="text-input">Descripción</label>
                  <div class="col-md-9">
                      <textarea :disabled="product.created_manual == 0"  v-model="product.summary" class="form-control" placeholder=""></textarea>
                      <span v-if="allerrors.summary" :class="['text-danger']">{{ allerrors.summary[0] }}</span>
                  </div>
                </div>
        
                    <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Precio</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="product.price" class="form-control" placeholder="">
                          <span v-if="allerrors.price" :class="['text-danger']">{{ allerrors.price[0] }}</span>
                          
                      </div>
                  </div>
      
                  <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Stock</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="product.stock" class="form-control" placeholder="">
                          <span v-if="allerrors.stock" :class="['text-danger']">{{ allerrors.stock[0] }}</span>
                          
                      </div>
                  </div>
          
                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Imagen </label>
                    <div class="col-md-9">
                        <!--<div id="fine-uploader-manual-trigger"></div>-->
                        <file-upload type="IMAGE" v-model="product.image_id" :deleteImage="product.created_manual == 1" :editImage="product.created_manual == 1" ></file-upload>
                        
                        <span v-if="allerrors.image_id" :class="['text-danger']">{{ allerrors.image_id[0] }}</span>
                        
                    </div>
                  </div>

                  <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Visible</label>
                      <div class="col-md-9">
                          <a-radio-group v-model="product.visible"  buttonStyle="solid">
                            <a-radio-button :value="1">Si</a-radio-button>
                            <a-radio-button :value="0">No</a-radio-button>
                          </a-radio-group>
                          <span v-if="allerrors.visible" :class="['text-danger']">{{ allerrors.visible[0] }}</span>
                      </div>
                  </div>

       

                  <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Iva</label>
                      <div class="col-md-9">
                          <a-radio-group   v-model="product.has_iva" buttonStyle="solid">
                            <a-radio-button :value="1">Si</a-radio-button>
                            <a-radio-button :value="0">No</a-radio-button>
                          </a-radio-group>
                          <span v-if="allerrors.has_iva" :class="['text-danger']">{{ allerrors.has_iva[0] }}</span>
                      </div>
                  </div>

                    <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Valor Iva</label>
                      <div class="col-md-9">

                          
                          <select class="form-control"  v-model="product.tax_id" >
                            <option value="">Seleccionar</option>
                            <option :value="tax.id" v-for="(tax,index) in taxes" :key="index">{{tax.value}}</option>
                          </select>
                         
                          

                          
                          <span v-if="allerrors.tax_id" :class="['text-danger']">{{ allerrors.tax_id[0] }}</span>
                          
                      </div>
                  </div>

                  <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Grupos</label>
                      <div class="col-md-9">
                 
                          
                          <a-select
                            mode="multiple"
                            v-model="product.groups"
                            style="width: 100%"
                            @change="handleChange"
                            placeholder="Seleccionar Grupos"
                          >
                            <a-select-option v-for="(group) in groups" :key="group.id" 
                              >
                             {{group.name}}
                              </a-select-option
                            >
                          </a-select>
                          <span v-if="allerrors.group_id" :class="['text-danger']">{{ allerrors.group_id[0] }}</span>
                          
                      </div>
                  </div>

                  <h3>Campos</h3>
                  <div class="form-group row" v-for="(field,index) in customFields" :key="index" >
                      <label v-if="field" class="col-md-3 form-control-label" for="text-input">{{field.name}}</label>
                      <div class="col-md-9" v-if="field">
                          <input type="text"  v-model="field.value" class="form-control" placeholder="">
                          <span v-if="allerrors.fields" :class="['text-danger']">{{ allerrors.fields[0] }}</span>
                      </div>
                  </div>
              </div>
                  <div class="modal-footer">
                      <button v-if="!product.id" type="button" :disabled="disableButton" @click="create" class="btn btn-primary">Guardar</button>
                      <button v-if="product.id" type="button" :disabled="disableButton" @click="update" class="btn btn-primary">Actualizar</button>
                  </div>
              </div>
          </div>
  
</template>
<script>
export default {
  name: "app-form",

  data() {
    return {
      disableButton: true,
      allerrors: [],
      product: {
        id: null,
        name: null,
        has_iva: 0,
        portal_id: "",
        group_id: "",
        fields: [],
        created_manual: true,
        tax_id: ""
      },
      portales: [],
      customFields: [],
      groups: [],
      taxes: []
    };
  },
  methods: {
    handleChange(value) {
      console.log(`selected ${value}`);
    },
    deleteSection(key) {
      this.product.sections.splice(key, 1);
    },
    create() {
      let me = this;
      Object.assign(this.product, { customFields: this.customFields });
      axios
        .post("/admin/product", this.product)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha creado  el nuevo producto.");
          me.$router.push({ name: "products" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    },
    update() {
      let me = this;
      Object.assign(this.product, { customFields: this.customFields });

      axios
        .put("/admin/product/" + this.product.id, this.product)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha actualizado  el nuevo producto.");
          me.$router.push({ name: "products" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    }
  },
  mounted() {},
  created() {
    let _this = this;

    if (typeof this.$route.params.id !== "undefined") {
      axios.get("admin/products/fields").then(res => {
        //_this.fields = res.data;
        res.data.forEach(function(value) {
          _this.$set(_this.customFields, value.id, value);
        });
        axios.get("/admin/product/" + this.$route.params.id).then(res => {
          _this.product = res.data;
          res.data.fields.forEach(function(valor) {
            if (_this.customFields[valor.id]) {
              Object.assign(_this.customFields[valor.id], {
                value: valor.pivot.value
              });
            }
          });
          _this.disableButton = false;
        });
      });
    } else {
      this.disableButton = false;
      axios.get("admin/products/fields").then(res => {
        //_this.fields = res.data;
        res.data.forEach(function(value) {
          _this.$set(_this.customFields, value.id, value);
        });
      });
    }

    axios.get("/admin/group-select").then(res => {
      _this.groups = res.data;
    });
    axios.get("/admin/select-taxes").then(res => {
      _this.taxes = res.data;
    });
  }
};
</script>
<style lang="scss" scoped>
.list-group-item {
  border-color: blue;
  .list-group-item {
    border-color: green !important;
    .list-group-item {
      border-color: black !important;
    }
  }
}
</style>

