<template>
       <main>
        <div class="container-fluid">
            <div class="card mt-5">
                <div class="card-header">
                    <span style="font-size: 20px;">Productos</span>
                </div>
                <div class="card-body">
                    <div class="col-md-12 px-0 py-0">
                        <div>
                            <div class="row">
                                <div class="col-md-5">
                                   
                                 
                                 <router-link exact-active-class="active" :to="{ name: 'products.create'}" :class="['btn btn-outline-primary ']">
                                    Crear
                                </router-link> 

                                <a-button type="primary"    :loading="loading" @click="showRefresh()" class="btn btn-outline-primary" >
                                      Actualizar Productos (Libreria)
                                    </a-button>
                                     
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br >
                            <div>
                                <a-table
                                    :columns="columns"
                                    :rowKey="record => record.id"
                                    :dataSource="data"
                                    :pagination="pagination"
                                    :loading="loading"
                                    @change="handleTableChange"
                                   
                                >
                                    <span slot="action" slot-scope="text, record">
                                        <a-button type="primary"  @click=" edit(record)" >Editar</a-button>  
                                    </span>
                                    <span slot="created_manual" slot-scope="text, record">
                                        <span v-if="record.created_manual">Manula</span>
                                        <span v-if="!record.created_manual" >Desde servicio</span>
                                    </span>
                                     <span slot="visible" slot-scope="text, record">
                                       
                                        <span v-if="record.visible" class="badge badge-success">Si</span>
                                        <span v-if="!record.visible" class="badge badge-danger">No</span>
                                    </span>
                                </a-table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
export default {
  data() {
    return {
      data: [],
      pagination: {},
      loading: false,
      columns: [
        {
          title: "Nombre",
          dataIndex: "name",
          width: "20%",
          scopedSlots: { customRender: "name" }
        },
        {
          title: "Descripción",
          dataIndex: "summary",
          width: "20%"
        },
        {
          title: "Visible",
          dataIndex: "visible",
          width: "20%",
          scopedSlots: { customRender: "visible" }
        },
        {
          title: "Creación",
          dataIndex: "created_manual",
          width: "20%",
          scopedSlots: { customRender: "created_manual" }
        },
        {
          title: "",
          dataIndex: "action",
          width: "20%",
          scopedSlots: { customRender: "action" }
        }
      ]
    };
  },
  mounted() {
    this.fetch();
  },
  methods: {
    showRefresh() {
      let _this = this;
      _this.loading = true;
      axios
        .post("admin/refresh-products")
        .then(res => {
          _this.loading = false;
          _this.data = res.data;
          _this.$message.success("Se ha actualizado los productos.");
        })
        .catch(res => {
          _this.loading = false;
          _this.$message.error("Ha ocurrido un error, Vuelva a intentarlo.");
        });
    },
    edit(register) {
      this.$router.push({ name: "products.edit", params: { id: register.id } });
    },
    handleTableChange(pagination, filters, sorter) {
      console.log(pagination);

      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.fetch({
        page: pagination.current
      });
    },
    fetch(params = {}) {
      console.log("params:", params);
      this.loading = true;
      axios.get("/admin/products", { params }).then(response => {
        const pagination = { ...this.pagination };
        // Read total count from server
        // pagination.total = data.totalCount;

        pagination.total = response.data.total;
        pagination.pageSize = 15;
        this.loading = false;
        this.data = response.data.data;
        this.pagination = pagination;
      });
    }
  }
};
</script>

