<template>
    <div>
        <div class="container-fluid">
            <div class="card mt-5">
                <div class="card-header">
                    <span style="font-size: 20px;">Role</span>
                </div>
                <div class="card-body">
                    <div class="col-md-12 px-0 py-0">
                        <div>
                            <div class="row mb-2">
                                <div class="col-md-5">
                                    <router-link v-if="$root.$data.permissions['roles.create']"  exact-active-class="active" :to="{ name: 'role.form',params:{type:'create'}}" :class="['btn btn-outline-primary']">
                                         Crear
                                    </router-link>
                                </div>
                            </div>
                            <div>
                               <role-list></role-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import RoleList from "@/components/Role/RoleListComponent";

export default {
  components: { RoleList },
  data() {
    return {};
  },
  methods: {
    showBody() {}
  }
};
</script>