<template>
  <div class="container-fluid">
    <div class="card mt-5">
        <div class="card-header">
            <span style="font-size: 20px;">{{ $route.params.name}}</span>
              <router-link exact-active-class="active" :to="{ name: 'log-user'}" :class="['btn btn-outline-primary pull-right mt-1']">
                  Atras
              </router-link> 
        </div>
        <div class="d-flex justify-content-around mt-2">
            <div class="m-3" style="width: 800px;padding: 5px;white-space: nowrap;overflow-x: auto;" v-if="initial_value">
                <div>
                  <h5> Valor inicial</h5>
                  <vue-json-pretty 
                    :path="'res'"
                    :data="initial_value" 
                    >
                  </vue-json-pretty>
                </div>
            </div>
            <div class="m-3" style="width: 800px;padding: 5px;white-space: nowrap; overflow-x: auto;" >
                <div>
                  <h5> Valor actual</h5>
                  <vue-json-pretty 
                    v-if="actual_value"
                    :path="'res'"
                    :data="actual_value" 
                    >
                  </vue-json-pretty>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import VueJsonPretty from 'vue-json-pretty'
export default {
  components: {
    VueJsonPretty
  },
  data() {
    return {
      data: [],
      initial_value: {},
      actual_value: {},
      columns: [
        {
          title: "Valor inicial",
          key: "initial_value",
          scopedSlots: { customRender: "action" }
        },
        {
          title: "Valor actual",
          key: "actual_value",
          scopedSlots: { customRender: "action2" }
        },
      ]
    };
  },
   
     
  methods: {
    getShow() {
      let _this = this;
      axios
        .get("/admin/log-user/show/" + _this.$route.params.id)
        .then(function(response) {
          
          _this.data = response.data;
          _this.initial_value = JSON.parse(response.data.initial_value);
          _this.actual_value = JSON.parse(response.data.actual_value);

        });
    },
    
  },
  mounted() {
    if (this.$route.params.id > 0) {
      this.getShow()
    }
  }
};
</script>