<template>
    <a-table :columns="columns" :dataSource="data" :rowKey="record => record.id" :pagination="{ pageSize: 10 }">
      <span slot="action2" slot-scope="text, record">
        <router-link exact-active-class="active" :to="{ name: 'log-user-show',params:{type:'update', id:record.id, name:record.section}}" :style="'color:rgba(0, 0, 0, 0.65)'">
          <a-button v-if="permission" type="primary">Detalle</a-button>  
        </router-link>
      </span>
      <span slot="user_name" slot-scope="text, record">
        {{record.user_id.id}} - {{record.user_id.email}}
      </span>
      <span slot="action3" slot-scope="text, record">
        {{record.date}} {{record.time}}
      </span>
      
    </a-table>
</template>

<script>
import { log } from 'util';
export default {
  data() {
    return {
      permission: false,
      data: [],
      columns: [
        {
          title: "Usuario",
          key: "user_id",
          scopedSlots: { customRender: "user_name" }
        },
        { title: "Accion", dataIndex: "action", key: "action" },
        { title: "Seccion", dataIndex: "section", key: "section" },
        { title: "Objeto", dataIndex: "object_name", key: "object_name" },
        { title: "Fecha",  scopedSlots: { customRender: "action3" }, key: "action3" },
        {
          title: "",
          key: "action2",
          align: "right",
          scopedSlots: { customRender: "action2" }
        },
      ],
    };
  },
  methods: {
    getListModel() {
      let me = this;
      axios
        .get("/admin/log-user")
        .then(function(response) {

          me.data = response.data.models;
          me.permission = response.data.permission;
        })
        .catch(function(error) {});
    },
  },
  mounted() {
    this.getListModel();
  }
};
</script>
