<template>
    <div class="container-fluid">
          <div class="card mt-5">
              <div class="card-header">
                  <span style="font-size: 20px;">Campos</span>
                    <router-link exact-active-class="active" :to="{ name: 'fields'}" :class="['btn btn-outline-primary pull-right mt-1']">
                        Atras
                    </router-link> 
              </div>
               <div class="card-body">
                    <!--<div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Portal</label>
                      <div class="col-md-9">
                          <select v-model="field.portal_id" class="form-control">
                            <option value="">Seleccionar</option>
                            <option v-for="(portal,index) in portales" :key="index" :value="portal.id" >{{portal.name}}</option>
                          </select>
                          <span v-if="allerrors.portal_id" :class="['text-danger']">{{ allerrors.portal_id[0] }}</span>
                          
                      </div>
                  </div>-->
        
        
                   <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="field.name" class="form-control" placeholder="">
                          <span v-if="allerrors.name" :class="['text-danger']">{{ allerrors.name[0] }}</span>
                          
                      </div>
                  </div>
                   <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Valor Por Defecto</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="field.default_value" class="form-control" placeholder="">
                          <span v-if="allerrors.default_value" :class="['text-danger']">{{ allerrors.default_value[0] }}</span>
                          
                      </div>
                  </div>
 
                
         </div>
                  
          
                  <div class="modal-footer">
                      <button v-if="!field.id" type="button" :disabled="disableButton" @click="create" class="btn btn-primary">Guardar</button>
                      <button v-if="field.id" type="button" :disabled="disableButton" @click="update" class="btn btn-primary">Actualizar</button>
                  </div>
              </div>
          </div>
  
</template>
<script>
export default {
  name: "app-form",

  data() {
    return {
      editorConfig: {
        toolbar: [
          "heading",
          "|",
          "bold",
          "italic",
          "underline",
          "link",
          "|",
          "bulletedList",
          "numberedList",
          "|",
          "highlight:greenPen",
          "highlight:redPen",
          "removeHighlight"
        ]
      },

      disableButton: true,
      allerrors: [],
      field: {
        id: null,
        name: null,
        portal_id: ""
      },
      portales: []
    };
  },
  methods: {
    deleteSection(key) {
      this.field.sections.splice(key, 1);
    },
    create() {
      let me = this;
      axios
        .post("/admin/field", this.field)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha creado  el nuevo campo.");
          me.$router.push({ name: "fields" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    },
    update() {
      let me = this;
      axios
        .put("/admin/field/" + this.field.id, this.field)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha actualizado  el campo.");
          me.$router.push({ name: "fields" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    }
  },
  created() {
    let _this = this;
    if (typeof this.$route.params.id !== "undefined") {
      axios.get("/admin/field/" + this.$route.params.id).then(res => {
        console.log(res);
        _this.field = res.data;
        _this.disableButton = false;
      });
    } else {
      this.disableButton = false;
    }
  }
};
</script>
<style lang="scss" scoped>
.list-group-item {
  border-color: blue;
  .list-group-item {
    border-color: green !important;
    .list-group-item {
      border-color: black !important;
    }
  }
}
</style>

