<template>
    <div class="container-fluid">
          <div class="card mt-5">
              <div class="card-header">
                  <span style="font-size: 20px;">Grupo</span>
                    <router-link exact-active-class="active" :to="{ name: 'groups'}" :class="['btn btn-outline-primary pull-right mt-1']">
                        Atras
                    </router-link> 
              </div>
               <div class="card-body">
                  
        
                    <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="group.name" class="form-control" placeholder="">
                          <span v-if="allerrors.name" :class="['text-danger']">{{ allerrors.name[0] }}</span>
                          
                      </div>
                  </div>

                    <h3>Productos</h3>  
                    
                    <a-list size="small" bordered :dataSource="products">
                      <a-list-item slot="renderItem" slot-scope="item, index" >
                         <div class="form-check col-md-12">
                            <input type="checkbox" class="form-check-input" v-model="group.products" :value="item.id" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">{{item.name}}</label>                
                          </div>
                      </a-list-item>
                  </a-list>
 
                
                  </div>
                  
          
                  <div class="modal-footer">
                      <button v-if="!group.id" type="button" :disabled="disableButton" @click="create" class="btn btn-primary">Guardar</button>
                      <button v-if="group.id" type="button" :disabled="disableButton" @click="update" class="btn btn-primary">Actualizar</button>
                  </div>
              </div>
          </div>
  
</template>
<script>
export default {
  name: "app-form",

  data() {
    return {
      editorConfig: {
        toolbar: [
          "heading",
          "|",
          "bold",
          "italic",
          "underline",
          "link",
          "|",
          "bulletedList",
          "numberedList",
          "|",
          "highlight:greenPen",
          "highlight:redPen",
          "removeHighlight"
        ]
      },

      disableButton: true,
      allerrors: [],
      group: {
        id: null,
        name: null,
        products: []
      },
      portales: [],
      products: []
    };
  },
  methods: {
    deleteSection(key) {
      this.group.sections.splice(key, 1);
    },
    create() {
      let me = this;
      axios
        .post("/admin/group", this.group)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha creado el nuevo grupo.");
          me.$router.push({ name: "groups" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    },
    update() {
      let me = this;
      axios
        .put("/admin/group/" + this.group.id, this.group)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha actualizado el grupo.");
          me.$router.push({ name: "groups" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    }
  },
  created() {
    let _this = this;
    if (typeof this.$route.params.id !== "undefined") {
      axios.get("/admin/group/" + this.$route.params.id).then(res => {
        console.log(res);
        _this.group = res.data;
        _this.disableButton = false;
      });
    } else {
      this.disableButton = false;
    }
    axios.get("/admin/product-select").then(res => {
      _this.products = res.data;
    });
  }
};
</script>
<style lang="scss" scoped>
.list-group-item {
  border-color: blue;
  .list-group-item {
    border-color: green !important;
    .list-group-item {
      border-color: black !important;
    }
  }
}
</style>

