<template>
       <main>
        <div class="container-fluid">
            <div class="card mt-5">
                <div class="card-header">
                    <span style="font-size: 20px;">Bonos</span>
                </div>
                <div class="card-body">
                    <div class="col-md-12 px-0 py-0">
                        <div>
                            <div class="row">
                                <div class="col-md-5">
                                   
                                 
                                 <router-link v-if="$root.$data.permissions['roles.create']"   exact-active-class="active" :to="{ name: 'bonos.create'}" :class="['btn btn-outline-primary ']">
                                    Crear
                                </router-link> 
                                     
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br >
                            <div>
                                <a-table
                                    :columns="columns"
                                    :rowKey="record => record.id"
                                    :dataSource="data"
                                    :pagination="pagination"
                                    :loading="loading"
                                    @change="handleTableChange"
                                >
                              
                                    <span slot="action" slot-scope="text, record">
                                        <a-button type="primary"  @click=" edit(record)" >Editar</a-button>  
                                    </span>
                                    
                                </a-table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
export default {
  data() {
    return {
      data: [],
      pagination: {},
      loading: false,
      columns: [
        {
          title: "Nombre",
          dataIndex: "name",
          width: "20%",
          scopedSlots: { customRender: "name" }
        },
        {
          title: "Tipo",
          dataIndex: "type",
          width: "20%",
          scopedSlots: { customRender: "type" }
        },
        {
          title: "",
          dataIndex: "action",
          width: "20%",
          scopedSlots: { customRender: "action" }
        }
      ]
    };
  },
  mounted() {
    this.fetch();
  },
  methods: {
    edit(register) {
      this.$router.push({ name: "bonos.edit", params: { id: register.id } });
    },
    handleTableChange(pagination, filters, sorter) {
      console.log(pagination);

      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.fetch({
        page: pagination.current
      });
    },
    fetch(params = {}) {
      console.log("params:", params);
      this.loading = true;
      axios.get("/admin/bonos", { params }).then(response => {
        const pagination = { ...this.pagination };
        // Read total count from server
        // pagination.total = data.totalCount;

        pagination.total = response.data.total;
        pagination.pageSize = 15;
        this.loading = false;
        this.data = response.data.data;
        this.pagination = pagination;
      });
    }
  }
};
</script>

