<template>
    <div class="container-fluid">
          <div class="card mt-5">
              <div class="card-header">
                  <span style="font-size: 20px;">Bonos</span>
                    <router-link exact-active-class="active" :to="{ name: 'bonos'}" :class="['btn btn-outline-primary pull-right mt-1']">
                        Atras
                    </router-link> 
              </div>
               <div class="card-body">
           
                 <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="bono.name" class="form-control" placeholder="">
                          <span v-if="allerrors.name" :class="['text-danger']">{{ allerrors.name[0] }}</span>
                      </div>
                  </div>                

                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Tipo</label>
                      <div class="col-md-9">
                        <select class="form-control" v-model="bono.type">
                          <option value="">Seleccionar</option>
                          <option value="GENERAL">General</option>
                          <option value="ALEATORIO">Aleatorio</option>
                        </select>
                          
                          <span v-if="allerrors.type" :class="['text-danger']">{{ allerrors.type[0] }}</span>
                      </div>
                  </div>  

                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Fecha / hora  (Rango)</label>
                      <div class="col-md-9">
                        <a-range-picker
                            :showTime="{ format: 'HH:mm' }"
                             :format="dateFormat"
                            :placeholder="['Fecha Inicio', 'Fecha Fin']"
                            @change="okRangeDate"
                            @ok="okRangeDate"
                            :value="bono.rangeDate2"
                          />
                         
                          <span v-if="allerrors.rangeDate" :class="['text-danger']">{{ allerrors.rangeDate[0] }}</span>
                      </div>
                  </div>  

                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Cantidad</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="bono.quantity" class="form-control" placeholder="">
                          <span v-if="allerrors.quantity" :class="['text-danger']">{{ allerrors.quantity[0] }}</span>
                      </div>
                  </div> 
                   
                  <div class="form-group row" v-if="bono.type == 'GENERAL'" >
                    <label class="col-md-3 form-control-label" for="text-input">Código Genérico</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="bono.code_generic" class="form-control" placeholder="">
                          <span v-if="allerrors.code_generic" :class="['text-danger']">{{ allerrors.code_generic[0] }}</span>
                      </div>
                  </div> 
                  
                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Tipo Descuento</label>
                      <div class="col-md-9">
                        <select class="form-control" v-model="bono.type_discount">
                          <option value="">Seleccionar</option>
                          <option value="VALOR">Valor</option>
                          <option value="PORCENTAJE">Porcentaje</option>
                        </select>
                          
                          <span v-if="allerrors.type_discount" :class="['text-danger']">{{ allerrors.type_discount[0] }}</span>
                      </div>
                  </div>

                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Valor Descuento</label>
                      <div class="col-md-9">
                          <input type="text"  v-model="bono.value_discount" class="form-control" placeholder="">
                          <span v-if="allerrors.value_discount" :class="['text-danger']">{{ allerrors.value_discount[0] }}</span>
                      </div>
                  </div>  

                  <div class="form-group row" >
                    <label class="col-md-3 form-control-label" for="text-input">Aplicar A</label>
                      <div class="col-md-9">
                          <a-radio-group :defaultValue="bono.aplication" v-model="bono.aplication"  buttonStyle="solid">
                            <a-radio-button  value="GROUP">Grupo</a-radio-button>
                            <a-radio-button  value="PRODUCT">Producto</a-radio-button>
                            <a-radio-button  value="ALL">Todos</a-radio-button>
                            
                          </a-radio-group>
                          <span v-if="allerrors.aplication" :class="['text-danger']">{{ allerrors.aplication[0] }}</span>
                      </div>
                  </div>   

                  <div class="form-group row" v-if="bono.aplication == 'GROUP'" >
                    <label class="col-md-3 form-control-label" for="text-input">Grupo</label>
                      <div class="col-md-9">
                        <select class="form-control" v-model="bono.group_id">
                          <option value="">Seleccionar</option>
                          <option v-for="(group , i) in groups " :key="i" :value="group.id">{{group.name}}</option>
                        </select>
                          <span v-if="allerrors.group_id" :class="['text-danger']">{{ allerrors.group_id[0] }}</span>
                      </div>
                  </div> 



                  <div class="form-group row" v-if="bono.aplication == 'PRODUCT'" >
                    <label class="col-md-3 form-control-label" for="text-input">Producto</label>
                      <div class="col-md-9">
                          <select class="form-control" v-model="bono.product_id">
                            <option value="">Seleccionar</option>
                            <option v-for="(product , i) in dataProeducts " :key="i" :value="product.id">{{product.name}}</option>
                          </select>
                          <span v-if="allerrors.product_id" :class="['text-danger']">{{ allerrors.product_id[0] }}</span>
                      </div>
                  </div>  

                  <div class="form-group row" >
                      <label class="col-md-3 form-control-label" for="text-input">Estado</label>
                      <div class="col-md-9">
                          <a-radio-group   v-model="bono.state" buttonStyle="solid">
                            <a-radio-button :value="1">Activo</a-radio-button>
                            <a-radio-button :value="0">Inactivo</a-radio-button>
                          </a-radio-group>
                          <span v-if="allerrors.state" :class="['text-danger']">{{ allerrors.state[0] }}</span>
                      </div>
                  </div>
                </div>
                  <div class="col-md-12">

                  <button class="btn btn-success pull-right" v-if="bono.id && bono.type == 'ALEATORIO'" type="primary" @click="showModal">Ver Bonos</button>
                  <br><br>
                  </div>
                  <a-modal
                  v-if="bono.id"
                    title="Bonos Generados"
                    :visible="visible"
                    :ok="false"

                    @cancel="handleCancelModal"
                  >
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Código</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(codeBono,i) in bono.redeems" :key="i">
                          <td>{{codeBono.code}}</td>
                          <td>{{codeBono.state}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </a-modal>
                  <div class="modal-footer">
                      <button v-if="!bono.id" type="button" :disabled="disableButton" @click="create" class="btn btn-primary">Guardar</button>
                      <button v-if="bono.id" type="button" :disabled="disableButton" @click="update" class="btn btn-primary">Actualizar</button>
                  </div>
              </div>
          </div>
  
</template>
<script>
import moment from "moment";
export default {
  name: "app-form",

  data() {
    return {
      dateFormat: "YYYY-MM-DD HH:mm",

      disableButton: true,
      allerrors: [],
      bono: {
        id: null,
        name: null,
        type_discount: "",
        type: "",
        grupo_id: "",
        producto_id: "",
        rangeDate: [],
        rangeDate2: [],
        state: 0
      },
      portales: [],
      groups: [],
      dataProeducts: [],
      visible: false
    };
  },

  methods: {
    moment,
    handleCancelModal() {
      this.visible = false;
    },
    showModal() {
      this.visible = true;
    },

    okRangeDate(value, dateString) {
      console.log(333333333);
      console.log(value.length);
      if (value.length > 0) {
        Object.assign(this.bono.rangeDate2, [
          moment(value[0]),
          moment(value[1])
        ]);
        Object.assign(this.bono.rangeDate, [
          moment(value[0]).format(this.dateFormat),
          moment(value[1]).format(this.dateFormat)
        ]);
        console.log(this.bono.rangeDate);
      } else {
        this.bono.rangeDate = [];
        this.bono.rangeDate2 = [];
      }
    },

    deleteSection(key) {
      this.bono.sections.splice(key, 1);
    },
    create() {
      let me = this;
      axios
        .post("/admin/bono", this.bono)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha creado  el nuevo campo.");
          me.$router.push({ name: "bonos" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    },
    update() {
      let me = this;
      axios
        .put("/admin/bono/" + this.bono.id, this.bono)
        .then(function(response) {
          me.allerrors = [];
          me.$message.success("Se ha actualizado  el campo.");
          me.$router.push({ name: "bonos" });
        })
        .catch(function(error) {
          if (error.response && error.response.data) {
            me.$message.error(
              "Ha ocurrido un error, verifique los campos del formulario."
            );
            me.allerrors = error.response.data.errors;
          } else {
            console.log("error ProductFormComponent update", error);
          }
        });
    }
  },
  created() {
    let _this = this;
    if (typeof this.$route.params.id !== "undefined") {
      axios.get("/admin/bono/" + this.$route.params.id).then(res => {
        console.log(res);
        _this.bono = res.data;
        if (_this.bono.start_date != null) {
          _this.bono.rangeDate = [
            moment(_this.bono.start_date),
            moment(_this.bono.end_date)
          ];
          _this.bono.rangeDate2 = [
            moment(_this.bono.start_date),
            moment(_this.bono.end_date)
          ];
        }
        _this.disableButton = false;
      });
    } else {
      this.disableButton = false;
    }

    axios.get("/admin/group-select").then(res => {
      _this.groups = res.data;
    });
    axios.get("/admin/product-select").then(res => {
      _this.dataProeducts = res.data;
    });
  }
};
</script>
<style lang="scss" scoped>
.list-group-item {
  border-color: blue;
  .list-group-item {
    border-color: green !important;
    .list-group-item {
      border-color: black !important;
    }
  }
}
</style>

